/*  CSS HEX */
:root {
    --jade-50: #effef7;
    --jade-100: #dafeef;
    --jade-200: #b8fadd;
    --jade-300: #81f4c3;
    --jade-400: #43e5a0;
    --jade-500: #1acd81;
    --jade-600: #0fa968;
    --jade-700: #108554;
    --jade-800: #126945;
    --jade-900: #11563a;
    --jade-950: #03301f;

    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--jade-100);
    justify-content: center;
    align-items: center;
}

header {
    background-color: var(--jade-400);
    height: 15dvh;
    width: 100%;
    text-align: center;
    /* font-size: x-small; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    margin-top: 0.5em;    
}

nav > a {
    text-decoration: none;
    /* background-color: var(--jade-600); */
    color: white;
    padding: 0.25em;
    border-radius: 0.5em;
}

nav > a:hover {
    /* background-color: var(--jade-950);     */
    color: var(--jade-800);
}

footer {
    background-color: var(--jade-400);
    height: 5dvh;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* combined rule for header & footer */
/* header, footer {
    background-color: var(--jade-400);
} */

main {
    min-height: 85dvh;
    width: 100dvw;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

main > * {
    margin: 0.5em;
}

main > a {
    margin: 0;
}

main > p {
    font-size: small;
    text-align:left;
    padding: 1em;
}

main > h1 {
    text-align: center;
}

main > img {
    height: 40dvh;
    width: 50dvw;
    margin: 2em;
    /* background-color: var(--jade-950); */
    color: var(--jade-100);
    /* object-fit: cover; */
    object-fit: contain;
}

#message {
    height: 10dvh;
}

.blogCards{

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* flex-wrap: wrap; */
    align-items: center;
    padding: 1em;
}

.card > img {
    height: 20dvh;
    width: 20dvw;
    /* margin: em; */
    /* background-color: var(--jade-950); */
    color: var(--jade-100);
    /* object-fit: cover; */
    object-fit: contain;

}

/* big screens */
/* Sytles for screens 600px wide and larger */
@media screen and (min-width: 600px) {
    body {
        /* background-color: palegreen; */

    }
    
    .row {
        display: flex;
        flex-direction: row;
    }
    /* h3 {
        display: none;
    } */
    
    /* Create three equal columns that float next to each other */
    /* .column {
        float: left;
        width: 33.33%;
    } */
}
